<div class="ribbon"></div>
<% if notice %>
  <div class="flash container"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="flash container"><%= alert %></div>
<% end %>
<% if !current_page?(root_path) || writer_signed_in? %>
  <div class="container">
    <div class="navbar">
      <ul class="list list--unstyled list--horizontal">
        <% unless current_page?(root_path) %>
          <li><a href="<%= root_path %>" class="home-link"><span class="home-link__icon">◀</span> Home</a></li>
        <% end %>
        <% if writer_signed_in? && (can? :manage, :all) %>
          <li><%= link_to "Dashboard", dashboard_path %></li>
        <% end %>
      </ul>
      <ul class="list list--unstyled list--horizontal">
        <% if writer_signed_in? %>
          <%= link_to "Sign out", destroy_writer_session_path, method: 'delete' %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
