<% if notice %>
  <div class="flash l-wrapper"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="flash l-wrapper"><%= alert %></div>
<% end %>
<% if !current_page?(root_path) || writer_signed_in? %>
  <div class="l-wrapper">
    <nav class="l-navbar">
      <a href="<%= root_path %>" class="l-navbar__brand">
        <%= image_tag "logo.png", alt: "Logo", class: "l-navbar__logo" %>
        <span class="l-navbar__title"><%= Newsletter.title %></span>
      </a>
      <div>
        <% if writer_signed_in? && (can? :manage, :all) %>
          <%= link_to "Dashboard", dashboard_path %>
        <% end %>
      </div>
    </nav>
  </div>
<% end %>
