<% if posts.empty? %>
  <p class="empty-message"><%= empty_message %></p>
<% else %>
  <ul class="list list--unstyled list--vertical">
    <% posts.each do |post| %>
      <li class="list__item">
        <time class="item__info item__info--meta"><%= format_date(post.created_at) %></time>
        <a class="item__info item__info--link" href="<%= url_for(post) %>"><span class="link--primary"><%= post.title %></span><span class="link--secondary">&nbsp;&mdash;&nbsp;<%= post.subtitle %></span></a>
        <span class="item__info item__info--meta">#<%= post.id %></span>
      </li>
    <% end %>
  </ul>
<% end %>
