<div class="header">
  <div class="l-container">
    <h1>Dashboard</h1>
    <p class="header__description">This is where you can manage subscribers, view statistics, and tune your newsletter to your needs.</p>
  </div>
</div>
<main class="l-container dashboard">
  <h2>Posts</h2>
  <%= render @posts %>
  <h2>Writers</h2>
  <% if @writers.empty? %>
    <p class="empty-message">No writers yet.</p>
  <% else %>
    <ul class="list list--unstyled list--vertical">
      <%= render @friends %>
      <%= render @strangers %>
      <% @strangers.each do |writer| %>
        <li class="list__item">
          <span class="item__info item__info--link"><%= writer.name %></span>
          <span class="item__info item__info--meta"><%= writer.email %></span>
          <span class="item__info item__info--action action--affirm"><%= link_to "Approve", approve_writer_path(writer), method: 'post' %></span>
          <span class="item__info item__info--action action--danger"><%= link_to "Reject", approve_writer_path(writer), method: 'delete', data: { confirm: "Are you sure you want to reject #{writer.name}?" } %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
  <h2>Subscribers</h2>
  <%= line_chart Subscriber.group_by_day(:created_at).count %>
  <%= render @subscribers %>
</main>
