<!DOCTYPE html>
<html>
  <head>
    <title><%= Newsletter.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      :root {
        --color-accent: <%= Newsletter.accent_color %>;
      }
    </style>
    <%= yield :head %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <main class="l-container devise">
      <% if notice %>
        <div class="l-container flash"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="l-container flash"><%= alert %></div>
      <% end %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
